In [1]:
import pandas as pd

In [2]:
some_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3',
}

In [3]:
some_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [4]:
some_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [5]:
some_other_frame = pd.DataFrame(some_dict.items(), columns=['key col', 'value col'])

In [6]:
some_other_frame

  key col value col
0    key1    value1
1    key2    value2
2    key3    value3

In [7]:
some_other_frame['some col'] = 100500

In [8]:
some_other_frame

  key col value col  some col
0    key1    value1    100500
1    key2    value2    100500
2    key3    value3    100500