https://www.javatpoint.com/python-pandas-interview-questions

In [1]:
import pandas as pd

In [2]:
sample_dict = {
    'a': [1, 2, 3],
    'b': [4, 5, 6],
    'c': [7, 8, 9],
}
sample_df = pd.DataFrame(sample_dict)

In [3]:
sample_df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [12]:
sample_df.loc[1]

a    2
b    5
c    8
Name: 1, dtype: int64

In [10]:
sample_df['b']

0    4
1    5
2    6
Name: b, dtype: int64

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html